@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-wrapper{
    width: 18rem !important;
}

.content-wrapper{
    width: calc(100vw - 18rem) !important;
    height: 100%;
}
#root{
    height: 100vh;
}